<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% if(day > 0 && day < 6){ %>
        <h1>Yo! Its the a weekday, time to grind soldier 😤</h1>
        <% } else{ %>
            <h1>Yo yo! Its the weekend time to chill 😎</h1>
            <% } %>
</body>
</html>
