<%- include("./partials/header.ejs") %>

    <input type="button" value="Dark mode" id="drk-mode-btn" data-bs-theme="light">

    <div class="title-container">
        <h1>RemindMe</h1>
        <p class="slogan">Dont let your todo list drown under the ocean!! Stay dry!</p>
    </div>


    <div class="d-flex flex-column flex-md-row p-4 gap-4 py-md-5 align-items-center justify-content-center">
        <!-- Added flex-grow-1 bootstrap class to fill the available space -->
        <div class="list-group">
          <label class="list-group-item d-flex gap-3 justify-content-between">
            <input class="form-check-input flex-shrink-0" type="checkbox" value="" style="font-size: 1.375em;">
            <!-- <strong>Finish sales report</strong> -->
            <input type="text" id="reminder" class="todo-item" name="0" value="Finish sales report" size="40">
            <span class="pt-1 form-checked-content text-center">
                <!-- Possibly moving this strong element out of the span to take advantage of the flex-grow and justify-content-between classes to achieve the look as seen for the Finish sales report todo item -->
              <!-- <strong>Finish sales report</strong> -->
              <input type="submit" class="btn btn-sm btn-outline-primary" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;" name="0" value="modify">
              <input type="button" class="btn btn-sm btn-outline-danger" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;" value="delete"><br>
              <!-- <input type="datetime-local" name="date" id="completion-date"> -->
            </span>
          </label>
          <label class="list-group-item d-flex gap-3">
            <input class="form-check-input flex-shrink-0" type="checkbox" value="" style="font-size: 1.375em;">
            <span class="pt-1 form-checked-content">
              <strong>Weekly All Hands</strong>
              <small class="d-block text-body-secondary">
                <svg class="bi me-1" width="1em" height="1em"><use xlink:href="#calendar-event"></use></svg>
                2:00–2:30pm
              </small>
            </span>
          </label>
          <label class="list-group-item d-flex gap-3">
            <input class="form-check-input flex-shrink-0" type="checkbox" value="" style="font-size: 1.375em;">
            <span class="pt-1 form-checked-content">
              <strong>Out of office</strong>
              <small class="d-block text-body-secondary">
                <svg class="bi me-1" width="1em" height="1em"><use xlink:href="#alarm"></use></svg>
                Tomorrow
              </small>
            </span>
          </label>
          <label class="list-group-item d-flex gap-3 bg-body-tertiary">
            <input class="form-check-input form-check-input-placeholder bg-body-tertiary flex-shrink-0 pe-none" disabled="" type="checkbox" value="" style="font-size: 1.375em;">
            <span class="pt-1 form-checked-content">
              <span contenteditable="true" class="w-100">Add new task...</span>
              <small class="d-block text-body-secondary">
                <svg class="bi me-1" width="1em" height="1em"><use xlink:href="#list-check"></use></svg>
                Choose list...
              </small>
            </span>
          </label>

        </div>
        <!-- <div class="w-25 h-25" id="ep">test</div> -->
      </div>
      <%- include("./partials/footer.ejs") %>